*{
    padding:0;
    margin:0;
}
body{
    position: relative;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inferiores{
    display:flex;
    position: absolute;
}
.superiores{
    display:flex;
    position: absolute;
}
.container{
    position: relative;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
button{
    cursor:pointer;
}
#primeira, #segunda, #terceira, #quarta, #quinta, #sexta, #setima, #oitava, #nona, #decima{
    display:flex;
    width: 65px;
    height: 650px;
    background-color: rgb(34, 34, 34);
    margin-left:30px;
    margin-right: px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 3px 5px black;
    
}
#primeira:hover, #segunda:hover, #terceira:hover, #quarta:hover, #quinta:hover, #sexta:hover, #setima:hover, #oitava:hover, #nona:hover, #decima:hover{
    background-color: black;
    padding:3px;
}
#primeira{
    position: relative;
    right: 21%;
}
#segunda{
    position: relative;
    right: 20%
}
#terceira, #quarta, #quinta{
    position: relative;
    right: 9%;
}
#quarta{
    position: relative;
    right: 8.2%;
}
#quinta{
    position: relative;
    right: 7%;
}
#sexta, #setima{
    position: relative;
    left: 4.3%;
}
#setima{
    right:1%
}
#oitava, #nona, #decima{
    position: relative;
    left:16%
}
#nona{
    left:16%
}
#decima{
    left:16.5%
}
#um, #dois, #tres, #quatro, #cinco, #seis, #sete, #oito, #nove, #dez, #onze, #doze, #treze, #quatorze {
    width: 100px;
    height: 850px;
    border: 1px solid black;
    box-shadow: 1px 0px 10px black;
}
#um:hover, #dois:hover, #tres:hover, #quatro:hover, #cinco:hover, #seis:hover, #sete:hover, #oito:hover, #nove:hover, #dez:hover, #onze:hover, #doze:hover, #treze:hover, #quatorze:hover{
    background-color: aliceblue;
    box-shadow: 3px 0px 10px black;
}
